/* 
    Document   : style.css
    Created on : 04-may-2012, 12:38:05
    Author     : Javier Méndez
    Description:
        CSS para el plugin de wordpress SimpleGMaps. Indica el estilo del plano que agregamos.
*/


.simpleGMaps {
        margin: 0;
        padding: 0;     
        border: 1px solid black;        
      }
